@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  --font: "Lexend Deca", sans-serif;
  /* Happy Hues */
  --background: #f2f7f5;
  --text-primary: #00473e;
  --text-secondary: #475d5b;
  --primary: #faae2b;
  --secondary: #ffa8ba;
  --tertiary: #fa5246;
  --surface: #fffffe;
  --surface-variant: #e5e5e5;
}

body html {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font);
  font-size: 1rem;
  color: var(--text-secondary);
  background-color: var(--background);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  font-size: 1.8rem;
  color: var(--text-primary);
  font-weight: normal;
  text-transform: capitalize;
}

.title {
  font-size: 1.2rem;
  color: var(--text-primary);
  font-weight: bold;
  text-transform: capitalize;
}

.select-user-avatar {
  width: 8rem;
  height: 8rem;
}

.select-user-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.select-user-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.active-user-avatar {
  border: 0.3rem solid var(--text-primary);
  border-radius: 8rem;
}

.select-user-avatar-name {
  color: var(--text-primary);
  text-transform: capitalize;
}

.primary-cta {
  background-color: var(--primary);
  color: var(--text-primary);
  border: none;
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
  font-family: var(--font);
  text-transform: capitalize;
  font-size: 1rem;
}

.secondary-cta {
  border: 0.2rem solid var(--secondary);
  background-color: transparent;
  color: var(--secondary);
  padding: 0.5rem;
  width: 10rem;
  border-radius: 5px;
  font-family: var(--font);
  text-transform: capitalize;
  font-size: 1rem;
  margin-top: 1rem;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--surface);
  position: fixed;
  padding: 1rem;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.nav-links {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: var(--text-primary);
  padding: 0.5rem;
  width: 100%;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.nav-link-active {
  background-color: var(--background);
  border-radius: 0.5rem 0px 0px 0.5rem;
}

.main-home-container {
  margin-left: 20rem;
  padding: 2rem;
}

.leaderboard-item {
  padding: 1rem;
  background-color: var(--surface);
  color: var(--text-secondary);
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.score-board {
  text-align: center;
  background-color: var(--background);
  color: var(--secondary);
  padding: 1rem;
  border-radius: 0.3rem;
}

.tab-link {
  display: flex;
  position: relative;
}

.tab-link-item {
  cursor: pointer;
  margin-right: 2rem;
}

.tab-link-item-active {
  margin-right: 1rem;
  color: var(--primary);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--primary);
}

.questions {
  margin-top: 1rem;
}

.question-item {
  background-color: var(--surface);
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  width: 50%;
}

.question-item-author {
  padding: 1rem;
  background-color: var(--surface-variant);
  color: var(--text-primary);
  text-transform: capitalize;
  border-radius: 0.3rem 0.3rem 0rem 0rem;
}

.question-item-content {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.vertical-hr {
  width: 0.1rem;
  height: 10rem;
  background-color: var(--surface-variant);
  margin-left: 1rem;
  margin-right: 1rem;
}

.poll-btn {
  text-decoration: none;
  color: var(--secondary);
}

.add-new-question {
  width: 50%;
}

.input-field {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  background-color: var(--surface);
  font-family: var(--font);
}

form {
  display: flex;
  flex-direction: column;
}

.progress-item {
  padding: 1rem;
  background-color: var(--surface-variant);
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
}
.progress-item-active {
  padding: 1rem;
  background-color: var(--secondary);
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  text-align: center;
}

.voted-item{
  padding: .5rem;
  font-size: .8rem;
  background-color: var(--surface);
  border-radius: 1rem;
  margin-bottom: .5rem;
}